/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

<<<<<<< HEAD


main {
    padding: 30px;
=======
header {
    background-color: #c81d3f;
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo img {
    height: 50px;
    width: 50px;
}

header .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

header .nav-links li {
    display: inline;
}

header .nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

header button#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

header button#theme-toggle img {
    height: 30px;
    width: 30px;
}

/* Estilos para a seção de administração */
.admin-section {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
>>>>>>> 0ccf64d1f3d6127231b8b52df8e359a9bc68f3a8
}

.admin-section h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para o container dos cartões de administração */
.admin-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilos para os cartões de administração */
.admin-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); /* Ajusta a largura para 3 cards por linha */
    max-width: 250px;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: #333;
    transition: transform 0.2s, box-shadow 0.2s;
}

.admin-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.admin-card h3 {
    font-size: 1rem;
    margin: 10px 0;
    color: #333;
}
