

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}



/*Barra de navegação*/



/* espaço do banner */

.banner{
    margin-top:20px ;
    height: 200px;
    text-align: center;
    font-size: 26px;
}

.banner img{
    width: 86%;
    height: 180px;
}


/*fim do banner */
/* card dos produtos */

.produto-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    background-color: var(--card-background);
    color: var(--text-color);
    text-align: center;
    width: 220px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.produto-card:hover {
    background-color: var(--card-hover-background);
    transform: translateY(-5px);
}

.produto-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.toy-details-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.toy-details-container {
    max-width: 800px;
    width: 100%;
    background-color: var(--card-background);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.toy-card-large {
    display: flex;
    align-items: center;
    gap: 20px;
}

.toy-image-large {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toy-info-large {
    flex: 1;
}

.toy-info-large h2 {
    margin-bottom: 10px;
}

.toy-info-large p {
    margin-bottom: 5px;
}


/*Rodapé*/


/* pagina da equipe*/
.equipe-section h1 {
    text-align: center;
    margin-bottom: 30px;
   
}

.equipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Alterei para space-between para distribuir os cards horizontalmente */
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.membro-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    background-color: var(--card-background);
    color: var(--text-color);
    text-align: center;
    width: calc(20% - 20px); /* Ajustei a largura dos cards para ocuparem 20% da largura total com uma margem de 20px */
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.membro-card:hover {
    background-color: var(--card-hover-background);
    transform: translateY(-5px);
}

.membro-card img {
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* fim pagina da esquipe*/
/* pagina da equipe*/
.equipe-section h1 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-color);
}

.equipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; /* Adiciona espaçamento entre os cards */
    padding: 0 20px;
}

.membro-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    background-color: var(--card-background);
    color: var(--text-color);
    text-align: center;
    width: calc(20% - 10px); /* Ajusta a largura dos cards para 20% com um gap de 10px */
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.membro-card:hover {
    background-color: var(--card-hover-background);
    transform: translateY(-5px);
}

.membro-card img {
    max-width: 100%;
    height: 200px; /* Reduz a altura da imagem para um layout mais compacto */
    border-radius: 10px;
    margin-bottom: 15px;
}

.membro-card h3 {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.membro-card p {
    margin-bottom: 5px;
    font-size: 0.9em; /* Reduz um pouco o tamanho do texto */
    color: var(--text-color);
}

/* fim pagina da esquipe*/

/* login adm pagina*/

.login-section {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black ;
    padding: 20px;
    margin-top: 120px;
    border-radius: 10px;
}

.login-section h1 {
    margin-bottom: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form label {
    margin-bottom: 5px;
    text-align: left;
}

#login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#login-form button {
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
}

#login-form button:hover {
    background-color: var(--hover-color);
    color:black ;
}

/*fim do login adm*/

/*tela admin*/

.admin-section2 h1 {
    text-align: center;
    margin-bottom: 30px;
}

.admin-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.admin-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    background-color: var(--card-background);
    color: var(--text-color);
    text-align: center;
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.admin-card:hover {
    background-color: var(--card-hover-background);
    transform: translateY(-5px);
}

/* fim tela de admin*/

/*tela gerenciamento de usuarios*/

.admin-section{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black ;
    padding: 20px;
    margin-top: 120px;
    border-radius: 10px;
    text-align: left;
}

form#add-admin-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto 20px;
}

form#add-admin-form label {
    font-weight: bold;
}

form#add-admin-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form#add-admin-form button {
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
}

form#add-admin-form button:hover {
    background-color:white;
    color: black;
}

.admin-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-card .admin-info {
    display: flex;
    flex-direction: column;
}

.admin-card .admin-actions {
    display: flex;
    gap: 10px;
}

.admin-card .admin-actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-card .admin-actions button.edit {
    background-color: var(--primary-color);
    color: var(--button-text-color);
}

.admin-card .admin-actions button.delete {
    background-color: var(--secondary-color);
    color: var(--button-text-color);
}

.admin-card .admin-actions button:hover {
    background-color: var(--hover-color);
}

/*fim tela gerenciamneto de usuarios*/

/*tela de incluir brinquedos*/

.main-add-brinquedo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-brinquedo{
    width: 600px;
    margin-top: 30px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;
}

.add-brinquedo h1{
    text-align: center;
    font-size: 30px;
}

.add-brinquedo input, textarea{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    padding: 10px 20px;
    background-color: transparent;
}

.add-brinquedo input:focus, textarea:focus{
    border: 1.8px solid black;
}


.form-group{
    padding: 10px 20px;
}

 #input-file{
    background-color: black;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid black;
}

#input-file:hover{
    background-color: white;
    color: black;
}

 .save-button {
    width: 100%;
    padding: 15px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.save-button:hover{
     background-color: white;
     color: black;
}

/* fim da tela debrinquedo*/

/* categorias telas adm*/

.admin-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--card-background);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-section h1 {
    text-align: center;
    margin-bottom: 20px;
}

.admin-section form .form-group {
    margin-bottom: 20px;
}

.admin-section form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.admin-section form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.admin-section form button {
    width: 100%;
    padding: 15px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-section form button:hover {
    background-color: var(--secondary-color);
}
.admin-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-card .admin-info {
    display: flex;
    flex-direction: column;
}

.admin-card .admin-actions {
    display: flex;
    gap: 10px;
}

.admin-card .admin-actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-card .admin-actions button.edit {
    background-color: var(--primary-color);
    color: var(--button-text-color);
}

.admin-card .admin-actions button.delete {
    background-color: var(--secondary-color);
    color: var(--button-text-color);
}

.admin-card .admin-actions button:hover {
    background-color: var(--hover-color);
}