/* Estilo para a seção de administração */
.admin-section {
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o título da seção */
.admin-section h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

/* Estilo para o formulário */
.admin-form {
    max-width: 600px;
    margin: 0 auto;
}

/* Estilo para o rótulo do formulário */
.admin-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para os campos de entrada do formulário */
.admin-form input,
.admin-form textarea,
.admin-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

/* Estilo para o botão de salvar */
.save-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #c81d3f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.save-button:hover {
    background-color: #80051e;
}