*:root{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

button.update {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 5px;
    border: none;
}

button.update:hover {
    background-color: #45a049; /* Darker green */
}

/* "Excluir" button styling */
button.delete {
    background-color: #c81d3f; /* Red */
    color: white;
    padding: 5px;
    border: none;
}

button.delete:hover {
    background-color: #da190b; /* Darker red */
}
